<%= form_for(@simcard) do |f| %>
  <% if @simcard.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@simcard.errors.count, "error") %> prohibited this simcard from being saved:</h3>

      <ul>
      <% @simcard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :Project %><br>
    <%= f.text_field :project, class: 'form-control', placeholder: 'Enter date built...', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :Startdate %><br>
    <%= f.date_select :startdate , class: 'form-control', placeholder: 'Enter device name...', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :Carrier %><br>
    <%= f.text_field :carrier, class: 'form-control', placeholder: 'Enter site id...', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :Phonenumber %><br>
    <%= f.text_field :phonenumber, class: 'form-control', placeholder: 'Enter date built...', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :DeviceID %><br>
    <%= f.text_field :deviceid, class: 'form-control', placeholder: 'Enter date built...', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :Monthlyfee %><br>
    <%= f.number_field :monthlyfee, class: 'form-control', placeholder: 'Enter date built...', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :Status %><br>
    <%= f.select :status, Simcard::STATUSES, { prompt: 'Select a status' }, { required: true, class: 'form-control' } %>
  </div>
  <div class="form-group actions">
    <%= f.submit 'Submit', :class => 'btn btn-lg btn-success btn-block' %>
  </div>
<% end %>
