<div class="row"><h1>SIM Cards</h1>
<div class="panel panel-default">
    <div class="panel-heading">Dashboard <%= link_to 'Add New SIM card', new_simcard_path(), class: 'btn btn-default btn-sm' %>   <b>Monthly Fee Total: <%= Simcard.sum(:monthlyfee)%> JPY</b></div>
  <div class="panel-body">
    <table id="simcards" class="table-striped table-bordered table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Project</th>
          <th>Start Date</th>
          <th>Carrier</th>
          <th>Phone Number</th>
          <th>Device ID</th>
          <th>Monthly Fee (JPY)</th>
          <th>Last Updated</th>
          <th>Status</th>
        </tr>
      </thead>
    
      <tbody>
        <% @simcards.each do |simcard| %>
          <tr>
            <td><%= simcard.project %></td>
            <td><%= simcard.startdate %></td>
            <td><%= simcard.carrier %></td>
            <td><%= link_to simcard.phonenumber, simcard %></td>
            <td><%= simcard.deviceid %></td>
            <td><%= simcard.monthlyfee %></td>
            <td><%= simcard.updated_at.strftime('%Y-%m-%d') %></td>
            <td class="text-left">
              <% if simcard.status == "Active" %>
                 <%= link_to simcard.status, '#', class: "label label-success" %>
              <% end %>
              <% if simcard.status == "Non Active" %>
                <%= link_to simcard.status, '#', class: 'label label-warning' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><%= link_to "Export CSV", simcards_path(format: :csv), class: "btn btn-primary" %></p>
  </div>
  
<% content_for(:extra_scripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#simcards').DataTable({ 
        responsive: true,
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
      });
    });
  </script>
<% end %>
