<div class="row">
    <div class="col-md-12">
        <h2>Total - <%= @devices.count %></h2>
        <%= pie_chart ({ "RS": @rsdevices.count, "ePRO": @eprodevices.count, "Other": @otherdevices.count }),  width: "700px", height: "400px", colors: ["#696969", "#C0C0C0", "#F5F5F5"] %>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>RS Total - <%= @rsdevices.count %></h3>
        <%= pie_chart ({ "Build Requested": @rsrequesteddevices.count, "In Field": @rsinfielddevices.count, "Stocked": @rsstockeddevices.count, "Repair Needed": @rsrepairneededdevices.count }), colors: ["Orange", "Green", "Blue", "Red"]  %>
    </div>
    <div class="col-md-4">
        <h3>ePRO Total - <%= @rsdevices.count %></h3>
        <%= pie_chart ({ "Build Requested": @rsdevices.count, "In Field": @eprodevices.count, "Stocked": @otherdevices.count, "Repair Needed": @rsrepairneededdevices.count }) %>
    </div>
    <div class="col-md-4">
        <h3>Other Total - <%= @rsdevices.count %></h3>
        <%= pie_chart ({ "Build Requested": @rsdevices.count, "In Field": @eprodevices.count, "Stocked": @otherdevices.count, "Repair Needed": @rsrepairneededdevices.count }) %>
    </div>
</div>