<h1>Total - <%= @devices.count %></h1>
<h1>RS Total - <%= @rsdevices.count %></h1>
<h1>ePRO Total- <%= @eprodevices.count %></h1>
<h1>Other Total - <%= @otherdevices.count %></h1>

<h3>RS Build Requested - <%= @rsrequesteddevices.count %></h3>
<h3>RS In field- <%= @rsinfielddevices.count %></h3>
<h3>RS Stocked - <%= @rsstockeddevices.count %></h3>
<h3>RS Repair Needed- <%= @rsrepairneededdevices.count %></h3>