<div class="row">
    <div class="col-md-12">
        <h2>Total - <%= @devices.count %></h2>
        <%= pie_chart ({ "RS": @rsdevices.count, "ePRO": @eprodevices.count, "Other": @otherdevices.count }),  width: "700px", height: "400px", colors: ["PaleTurquoise", "LightGreen", "Gainsboro"] %>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>RS Total - <%= @rsdevices.count %></h3>
        <%= pie_chart ({ "Build Requested": @rsrequesteddevices.count, "In Field": @rsinfielddevices.count, "Stocked": @rsstockeddevices.count, "Repair Needed": @rsrepairneededdevices.count }), colors: ["#f0ad4e", "#5cb85c", "#337ab7", "#d9534f"]  %>
    </div>
    <div class="col-md-4">
        <h3>ePRO Total - <%= @eprodevices.count %></h3>
        <%= pie_chart ({ "Build Requested": @eprorequesteddevices.count, "In Field": @eproinfielddevices.count, "Stocked": @eprostockeddevices.count, "Repair Needed": @eprorepairneededdevices.count }), colors: ["#f0ad4e", "#5cb85c", "#337ab7", "#d9534f"] %>
    </div>
    <div class="col-md-4">
        <h3>Other Total - <%= @otherdevices.count %></h3>
        <%= pie_chart ({ "Build Requested": @otherrequesteddevices.count, "In Field": @otherinfielddevices.count, "Stocked": @otherstockeddevices.count, "Repair Needed": @otherrepairneededdevices.count }), colors: ["#f0ad4e", "#5cb85c", "#337ab7", "#d9534f"] %>
    </div>
</div>