<div class="row"><h1>Other Devices</h1></div>
<div class="panel panel-default">
    <div class="panel-heading">Dashboard <%= link_to 'Add New Other Device', new_otherdevice_path(), class: 'btn btn-default btn-sm' %></div>
  <div class="panel-body">
    <table id="otherdevices" class="table-striped table-bordered table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
         <th>Service</th>
         <th>Project</th>
         <th>Asset Tag</th>
         <th>Model</th>
         <th>Site ID</th>
         <th>Requested By</th>
         <th>Build Date</th>
         <th>Last Updated</th>
         <th>Status</th>
        </tr>
      </thead>
    
      <tbody>
        <% @otherdevices.each do |otherdevice| %>
          <tr>
            <td><%= otherdevice.service %></td>
            <td><%= otherdevice.project %></td>
            <td><%= link_to otherdevice.assettag, otherdevice %></td>
            <td><%= otherdevice.model %></td>
            <td><%= otherdevice.siteid %></td>
            <td><%= otherdevice.requestedby %></td>
            <td><%= otherdevice.buildby %></td>
            <td><%= otherdevice.updated_at.strftime('%Y-%m-%d') %></td>
            <td class="text-left">
              <% if otherdevice.status == "Build Requested" %>
                 <%= link_to otherdevice.status, '#', class: "label label-warning" %>
              <% end %>
              <% if otherdevice.status == "In Field" %>
                <%= link_to otherdevice.status, '#', class: 'label label-success' %>
              <% end %>
              <% if otherdevice.status == "Stocked" %>
                <%= link_to otherdevice.status, '#', class: 'label label-primary' %>
              <% end %>
              <% if otherdevice.status == "Repair Needed" %>
                <%= link_to otherdevice.status, '#', class: 'label label-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <p><%= link_to "Export CSV", otherdevices_path(format: :csv), class: "btn btn-primary" %></p>
     <%= form_tag({controller: "otherdevices", action: "import", method: "post"}, {multipart: true}) do %>
      <p><%= file_field_tag :file %></p>
      <%= submit_tag "Import CSV", class: "btn btn-primary" %>
    <% end %>
  </div>
  
<% content_for(:extra_scripts) do %>
   <script type="text/javascript">
    $(document).ready(function() {
      $('#otherdevices').DataTable({ 
        responsive: true,
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
      });
    });
  </script>
<% end %>