<%= link_to 'Edit', edit_otherdevice_path(@otherdevice) %> |
<%= link_to 'Back', otherdevices_path %>

<div class="row"><h1>Other Devices</h1></div>
<div class="panel panel-default">
    <div class="panel-heading">Dashboard</div>
  <div class="panel-body">
    <% content_for(:page_header) do %>
      <%= "Other Device detail" %>
    <% end %>
    <% content_for :panel_heading do %><%= @otherdevice.assettag %><% end %>
    
    <p>
      <strong>Name:</strong>
      <%= @otherdevice.assettag %>
    </p>
    
    <p>
      <strong>Kind:</strong>
      <%= @otherdevice.model %>
    </p>
    
<%= link_to 'Edit', edit_otherdevice_path(@otherdevice), class: 'btn btn-primary' %>
<%= link_to 'Destroy', @otherdevice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>