<%= form_for(@device) do |f| %>
  <% if @device.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h3>

      <ul>
      <% @device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :Service %><br>
    <%= f.select :kind, Device::KINDS, { prompt: 'Select a service' }, { required: true, class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :AssetTag %><br>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Enter device name...', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :Model %><br>
    <%= f.select :model, Device::MODELS, { prompt: 'Select a model' }, { required: true, class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :Builtby %><br>
    <%= f.text_field :builtby, class: 'form-control', placeholder: 'Enter date built...', required: false %>
  </div>
  <div class="form-group">
    <%= f.label :Status %><br>
    <%= f.select :status, Device::STATUSES, { prompt: 'Select a status' }, { required: true, class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :Requestedby %><br>
    <%= f.text_area :requestedby, class: 'form-control', placeholder: 'Enter requster...', required: false %>
  </div>
  <div class="form-group">
    <%= f.label :Notes %><br>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Enter device description...', required: false %>
  </div>
  <div class="form-group actions">
    <%= f.submit 'Submit', :class => 'btn btn-lg btn-success btn-block' %>
  </div>
<% end %>
