<div class="row"><h1>RS Devices</h1></div>
<div class="panel panel-default">
    <div class="panel-heading">List of RS Devices <%= link_to 'Add New Device', new_device_path(), class: 'btn btn-default btn-sm' %></div>
  <div class="panel-body">
    <table id="devices" class="table-striped table-bordered table table-hover" cellspacing="0" width="100%">

  <div class="row">
     
  <%= search_form_for @q do |f| %>
  <div class="col-md-2">
  <%= f.label :project_cont, "Project" %>
  <%= f.search_field :project_cont, class: 'form-control' %>
  <br />
  </div>
  
  <div class="col-md-2">
  <%= f.label :name_cont, "Asset Tag" %>
  <%= f.search_field :name_cont, class: 'form-control'%>
  <br />
  </div>
  
  <div class="col-md-2">
  <%= f.label :model_start, "Model" %>
  <%= f.search_field :model_start, class: 'form-control' %>
  <br />
  </div>
  
  <div class="col-md-2">
  <%= f.label :siteid_eq, "Site ID" %>
  <%= f.search_field :siteid_eq, class: 'form-control' %>
  <br />
  </div>
  
  <div class="col-md-2">
  <%= f.label :requestedby_start, "Requested by" %>
  <%= f.search_field :requestedby_start, class: 'form-control' %>
  <br />
  </div>
  
  <div class="col-md-2">
  <%= f.label :status_start, "Status" %>
  <%= f.search_field :status_start, class: 'form-control' %>
  <br />
  </div>

  </div>

  <div class="text-right">
  Showing <b><%= @q.result.count%></b> out of Total <%= @devicetotal.count %>&nbsp;
  <%= f.submit "Search", :class => 'btn btn-sm btn-default' %>
  <% end %>
  </div>
  </br>
  
      <thead>
        <tr>
          <th></th>
          <th><%= sort_link(@q, :kind, 'Service') %></th>
          <th><%= sort_link(@q, :project, 'Project') %></th>
          <th><%= sort_link(@q, :name, 'Asset Tag') %></th>
          <th><%= sort_link(@q, :model, 'Model') %></th>
          <th><%= sort_link(@q, :siteid, 'Site ID') %></th>
          <th><%= sort_link(@q, :requestedby, 'Requested By') %></th>
          <th><%= sort_link(@q, :builtby, 'Built Date') %></th>
          <th><%= sort_link(@q, :updated_at, 'Last Updated') %></th>
          <th><%= sort_link(@q, :status, 'Status') %></th>
        </tr>
      </thead>
    
      <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td><b><%= @count %></b></td>
            <td><%= device.kind %></td>
            <td><%= device.project %></td>
            <td><%= link_to device.name, device %></td>
            <td><%= device.model %></td>
            <td><%= device.siteid %></td>
            <td><%= device.requestedby %></td>
            <td><%= device.builtby %></td>
            <td><%= device.updated_at.strftime('%Y-%m-%d') %></td>
            <td class="text-left">
              <% if device.status == "Build Requested" %>
                 <%= link_to device.status, '#', class: "label label-warning" %>
              <% end %>
              <% if device.status == "In Field" %>
                <%= link_to device.status, '#', class: 'label label-success' %>
              <% end %>
              <% if device.status == "Stocked" %>
                <%= link_to device.status, '#', class: 'label label-primary' %>
              <% end %>
              <% if device.status == "Repair Needed" %>
                <%= link_to device.status, '#', class: 'label label-danger' %>
              <% end %>
            </td>
          </tr>
          <% @count += 1 %>
        <% end %>
      </tbody>
    </table>
    <p><%= link_to "Export CSV", devices_path(format: :csv), class: "btn btn-primary" %></p>
    
    <%= form_tag({controller: "devices", action: "import", method: "post"}, {multipart: true}) do %>
      <p><%= file_field_tag :file %></p>
      <%= submit_tag "Import CSV", class: "btn btn-primary" %>
    <% end %>
  
<!-- 

<#% content_for(:extra_scripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#devices').DataTable({ 
        responsive: true,
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
      });
    });
  </script>
<#% end %>

 -->