<div class="row"><h1>RS Devices</h1></div>
<div class="panel panel-default">
    <div class="panel-heading">List of RS Devices <%= link_to 'Add New Device', new_device_path(), class: 'btn btn-default btn-sm' %></div>
  <div class="panel-body">
    <table id="devices" class="table-striped table-bordered table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Service</th>
          <th>Asset Tag</th>
          <th>Model</th>
          <th>Site ID</th>
          <th>Requested By</th>
          <th>Built Requested by</th>
          <th>Last Updated</th>
          <th>Status</th>
        </tr>
      </thead>
    
      <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td><%= device.kind %></td>
            <td><%= link_to device.name, device %></td>
            <td><%= device.model %></td>
            <td><%= device.siteid %></td>
            <td><%= device.requestedby %></td>
            <td><%= device.builtby %></td>
            <td><%= device.updated_at %></td>
            <td class="text-left">
              <% if device.status == "Build Requested" %>
                 <%= link_to device.status, '#', class: "label label-warning" %>
              <% end %>
              <% if device.status == "In Field" %>
                <%= link_to device.status, '#', class: 'label label-success' %>
              <% end %>
              <% if device.status == "Stocked" %>
                <%= link_to device.status + "  " + device.stockedfor, '#', class: 'label label-primary' %>
              <% end %>
              <% if device.status == "Repair Needed" %>
                <%= link_to device.status, '#', class: 'label label-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
<% content_for(:extra_scripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#devices').DataTable({ responsive: true });
    });
  </script>
<% end %>
