<div class="row"><h1>RS Devices</h1></div>
<div class="panel panel-default">
    <div class="panel-heading">Detail</div>
  <div class="panel-body">
    <% content_for(:page_header) do %>
      <%= "Device detail" %>
    <% end %>
    <% content_for :panel_heading do %><%= @device.name %><% end %>
    
    <p>
      <strong>Kind:</strong>
      <%= @device.kind %>
    </p>  
    <p>
      <strong>Name:</strong>
      <%= @device.name %>
    </p>
    <p>
      <strong>Model:</strong>
      <%= @device.model %>
    </p>
    <p>
      <strong>Sponsor Site ID:</strong>
      <%= @device.siteid %>
    </p>
    <p>
      <strong>Requested by:</strong>
      <%= @device.requestedby %>
    </p>
    <p>
      <strong>Built By:</strong>
      <%= @device.builtby %>
    </p>
    <p>
      <strong>Status:</strong>
      <% if @device.status == "Build Requested" %>
        <%= link_to @device.status, '#', class: "label label-warning" %>
      <% end %>
        <% if @device.status == "In Field" %>
      <%= link_to @device.status, '#', class: 'label label-success' %>
        <% end %>
      <% if @device.status == "Stocked" %>
        <%= link_to @device.status + "  " + @device.stockedfor, '#', class: 'label label-primary' %>
      <% end %>
      <% if @device.status == "Repair Needed" %>
        <%= link_to @device.status, '#', class: 'label label-danger' %>
      <% end %>
     </p>
    <p>
      <strong>Last Updated at:</strong>
      <%= @device.updated_at %>
    </p>
       
    <p>
      <strong>Notes:</strong>
      <%= @device.description %>
    </p>
    </br>
  
    <%= link_to 'Edit', edit_device_path(@device), class: 'btn btn-primary' %>
    <%= link_to 'Destroy', @device, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    
    
    
    <% unless @devices.blank? %>
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            Device Evolution
          </div>
          <div class="panel-body">
            <div id="device-evolution" style="height: 250px;"></div>
          </div>
        </div>
      </div>
  </div>
</div>  
  <% content_for(:extra_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function (){
        new Morris.Area({
          element: 'device-evolution',
          data: <%= raw @devices.to_json %>,
          xkey: 'time',
          ykeys: ['value'],
          labels: ['Value'],
          pointSize: 2,
          resize: true
        });
      });
    </script>
  <% end %>
<% end %>
