<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= content_for?(:title) ? yield(:title) : "Inventory Tool" %>
  </title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Inventory Tool" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="wrapper" class="">
    <%= render 'layouts/navbar' %>
  </div>

  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= content_for?(:extra_scripts) ? yield(:extra_scripts) : nil %>
</html>
